header{
    text-align: left;
    color: white;
    font-family: "Bowlby One SC";
    font-size:60px;
    margin:15px auto auto 10px;
    float: none;

}

body{
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.proj{
    image-rendering: auto;
    margin: -5px auto 50px;
    float: right;
    color:blue;
}


.describe{
    text-align: center;
    color: white;
    font-family: "Bowlby One SC";
    font-size:35px;
    font-style: oblique;
    position: relative;
    font-weight: 10px;
    text-shadow: 0.5px 0.5px teal;
    margin:150px auto auto 10px;
}


  /* Bordered form */
form {
  border: 3px solid #f1f1f1;
  background-color: #3c7183;
  width: 50%;
  margin: auto auto;
  width: 500px;

}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccf;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 18px;
  margin: 8px 0 auto 25px;
  border: none;
  cursor: pointer;
  width: 25%;
  text-align: center;
  font-family: Times;
  font-weight: bold;
  font-size: 13px;


}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 12px;
  background-color: #f44336;
  color: white;
  text-align: center;
  font-family: Times;
  font-weight: bold;
  font-size: 13px;
  margin-left: 2px;
}


/* Add padding to containers */
.container {
  padding: 16px;
  position: relative;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 30px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.uname{
 position: relative;
 margin-left: 20px;

}

.psw{
  position: relative;
  margin-left: 22px;
}

.uname input{
  margin-left: 3px;
}
.psw input{
  margin-left: 3px;
}